Agrupamento das bases SRA e Entrevistas de Desligamentos

In [54]:
import pandas as pd

SRA = pd.read_excel("/SRA Ativo e Demitidos envio.xlsx")
Entre = pd.read_excel("/Entrevistas.xlsx")
Tab_Analise1 = pd.merge(SRA, Entre, how="left")
display(Tab_Analise1)

,DESC.FIL,MATRICULA,FUNCAO,ADMISSAO,DEMISSAO,IDADE,SEXO,EST.CIVIL,SIT. FOLHA,DIRETOR,...,DESCR_RECISAO,CERTIFICAÇÕES,CARREIRA,DESENVOLVIMENTO PROFISSIONAL,REMUNERAÇÃO,BENEFÍCIOS,CLIMA,CULTURA,BEM ESTAR,OUTROS
0,CANDELARIA II,168186,921,2011-11-07,2022-01-07 00:00:00,53,M,SOLTEIRO(A),DEMITIDO,CLOUD PORTIFOLIO,...,DISPENSA SEM JUSTA CAUSA (API),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CANDELARIA II,236946,201,2014-02-05,2022-01-07 00:00:00,38,M,SOLTEIRO(A),DEMITIDO,CLOUD PORTIFOLIO,...,PEDIDO DE DEMISSAO,0,SIM,SIM,SIM,SIM,SIM,NÃO,SIM,SIM
2,CANDELARIA II,265449,604,2011-05-02,2022-01-03 00:00:00,35,M,CASADO(A),DEMITIDO,CLIENTE E SALES,...,PEDIDO DE DEMISSAO,0,NÃO,NÃO,SIM,SIM,NÃO,SIM,SIM,SIM
3,CANDELARIA II,280823,111,2015-09-08,2022-01-06 00:00:00,33,F,SOLTEIRO(A),DEMITIDO,CLOUD PORTIFOLIO,...,DISPENSA SEM JUSTA CAUSA (API),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CANDELARIA II,294487,919,2016-10-03,2022-01-04 00:00:00,35,M,CASADO(A),DEMITIDO,CLOUD PORTIFOLIO,...,PEDIDO DE DEMISSAO C/ DESC AVP,0,SIM,SIM,SIM,SIM,SIM,NÃO,SIM,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,TAKODA INFRA CE,308362,935,2021-02-01,/ /,47,M,SOLTEIRO(A),ATIVO,TAKODA,...,-,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6017,TAKODA INFRA CE,309468,941,2022-01-12,/ /,35,M,SOLTEIRO(A),ATIVO,TAKODA,...,-,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6018,TAKODA INFRA CE,309521,643,2022-02-01,/ /,31,M,SOLTEIRO(A),ATIVO,TAKODA,...,-,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6019,TAKODA INFRA CE,310553,376,2022-10-17,/ /,24,M,SOLTEIRO(A),ATIVO,TAKODA,...,-,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6020,TAKODA INFRA CE,285687,1100,2015-12-16,2023-07-03 00:00:00,65,M,CASADO(A),DEMITIDO,TAKODA,...,DISPENSA SEM JUSTA CAUSA (API),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Numero de linhas e colunas

In [69]:
Lin= len (Tab_Analise1)
Cols = Tab_Analise1.shape[1]
print(Lin)
print(Cols)

6021
23

Tipos de dados

In [77]:
Tab_Analise1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6021 entries, 0 to 6020
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DESC.FIL                      6021 non-null   object
 1   MATRICULA                     6021 non-null   object
 2   FUNCAO                        6021 non-null   object
 3   ADMISSAO                      6021 non-null   datetime64[ns]
 4   DEMISSAO                      6021 non-null   object
 5   IDADE                         6021 non-null   int64
 6   SEXO                          6021 non-null   object
 7   EST.CIVIL                     6021 non-null   object
 8   SIT. FOLHA                    6021 non-null   object
 9   DIRETOR                       6021 non-null   object
 10  HOME                          6021 non-null   object
 11  TIPO DEMISSÃO                 6021 non-null   object
 12  TIPO_RES                      6021 non-null   object
 13  DESCR_RECISAO                 6021 non-null   object
 14  CERTIFICAÇÕES                 6021 non-null   int64
 15  CARREIRA                      922 non-null    object
 16  DESENVOLVIMENTO PROFISSIONAL  922 non-null    object
 17  REMUNERAÇÃO                   922 non-null    object
 18  BENEFÍCIOS                    922 non-null    object
 19  CLIMA                         922 non-null    object
 20  CULTURA                       922 non-null    object
 21  BEM ESTAR                     922 non-null    object
 22  OUTROS                        922 non-null    object
dtypes: datetime64[ns](1), int64(2), object(20)
memory usage: 1.1+ MB

Valores Nulos

In [78]:
Tab_Analise1.isnull().sum()

DESC.FIL                           0
MATRICULA                          0
FUNCAO                             0
ADMISSAO                           0
DEMISSAO                           0
IDADE                              0
SEXO                               0
EST.CIVIL                          0
SIT. FOLHA                         0
DIRETOR                            0
HOME                               0
TIPO DEMISSÃO                      0
TIPO_RES                           0
DESCR_RECISAO                      0
CERTIFICAÇÕES                      0
CARREIRA                        5099
DESENVOLVIMENTO PROFISSIONAL    5099
REMUNERAÇÃO                     5099
BENEFÍCIOS                      5099
CLIMA                           5099
CULTURA                         5099
BEM ESTAR                       5099
OUTROS                          5099
dtype: int64

Nomes das colunas

In [85]:
Tab_Analise1.columns

Index(['DESC.FIL', 'MATRICULA', 'FUNCAO', 'ADMISSAO', 'DEMISSAO', 'IDADE',
       'SEXO', 'EST.CIVIL', 'SIT. FOLHA', 'DIRETOR', 'HOME', 'TIPO DEMISSÃO',
       'TIPO_RES', 'DESCR_RECISAO', 'CERTIFICAÇÕES', 'CARREIRA',
       'DESENVOLVIMENTO PROFISSIONAL', 'REMUNERAÇÃO', 'BENEFÍCIOS', 'CLIMA',
       'CULTURA', 'BEM ESTAR', 'OUTROS'],
      dtype='object')

Medidas de Dispersão e Posição

In [92]:

Filial = Tab_Analise1.groupby(['DESC.FIL','SIT. FOLHA']).size()
print(Filial)

DESC.FIL         SIT. FOLHA
ALPHAVILLE       ATIVO          398
                 DEMITIDO       211
BARRA            ATIVO          150
                 DEMITIDO        45
BARUERI          ATIVO           11
                 DEMITIDO        10
BERRINI          DEMITIDO        77
BRASILIA         ATIVO           31
                 DEMITIDO        50
Barra            DEMITIDO         9
CANDELARIA II    DEMITIDO       127
CENESP BLOCO G   DEMITIDO       208
CIDADE MONCOES   DEMITIDO         5
CONSOLACAO       DEMITIDO        23
ELDORADO         ATIVO          444
                 DEMITIDO       155
FORTALEZA        ATIVO          109
                 DEMITIDO        59
GOIANIA          ATIVO           44
                 DEMITIDO        29
ITAPEVI G3       ATIVO          202
                 DEMITIDO        62
JOAO PESSOA      ATIVO           13
LAMBDA3          ATIVO          128
                 DEMITIDO        31
MARECHAL         ATIVO           59
                 DEMITIDO        59
PORTO ALEGRE I   ATIVO          251
                 DEMITIDO       179
PORTO ALEGRE II  ATIVO           16
                 DEMITIDO         2
PORTO MARAVILHA  ATIVO          370
                 DEMITIDO         3
RECIFE I         ATIVO           35
                 DEMITIDO        16
SALVADOR         ATIVO           89
                 DEMITIDO        16
SAO JOSE CAMPOS  ATIVO          236
                 DEMITIDO        62
TAKODA INFRA BA  ATIVO           79
                 DEMITIDO        24
TAKODA INFRA CE  ATIVO           15
                 DEMITIDO         8
TAKODA INFRA TR  ATIVO          117
                 DEMITIDO        23
TRANSAMERICA     ATIVO         1249
                 DEMITIDO       457
Transamerica     DEMITIDO        19
VITORIA          DEMITIDO         6
dtype: int64